@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-bg;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
}
